/*** Estilos generales ***/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body{
    margin-top: 2rem;    
}
/**************************************************************************************************************/

/*** header ***/
.logo {
    max-width: 15vw;
    
}

.header {
    position: sticky;
    top: 5px; 
    left: 0; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;   
}

.navList {    
    list-style: none;
    gap: 51rem;
    width: 100%;    
}

.navList li a{
    text-decoration: none;
    color: #FFFFFF;
}

.navList li{
    margin-bottom: 30px;
 
}

.btnMenu{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 50px; 
    border-style: none;
    cursor: pointer;    
}

.btnMenu img{
    width: 15px;
}

.btnCerrarMenu{
    display: flex;
    align-items:center;
    gap: 10px;
    color: #FFFFFF;
    background-color: black;
    border-style: none;
    cursor: pointer;
}

.btnCerrarMenu img{
    width: 15px; 
}

.nav {
    font-size: 1.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: absolute;
    width: 600px;
    top: 0;
    right: 0;
    visibility: hidden;  
    padding: 4rem;
}

.contenedorBoton{
    align-self: self-end;
    margin-bottom: 20px;
}

.contLupa{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #FFFFFF;
}

.contLupa p{
    align-self: flex-end;
}

.contNewsLeter{
    width: 60%;
    padding: 10px;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 800;
    background-color: #77D7DB;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flechaNewsleter{
    width: 20px;
}

.contRedes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showNav {
    visibility: visible;
}
/*************************************************************************************************************/

/**************Section hero******************************/
.title {
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-size: 11vw;   
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero p {
    font-size: 3.7vw;
    font-weight: 600;
}

.marcador{
  background-image: linear-gradient(120deg, #77D7DB 0%, #77D7DB 100%);
  background-repeat: no-repeat;
  background-size: 100% 80%; 
  background-position: 0 80%; 
  padding: 0 5px;
  font-weight: bold;
}

.subrayado {
    display: inline-block;
    position: relative;
}
  
.subrayado::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #000;
    opacity: 0.8; 
    transform: rotate(-1deg);
    border-radius: 2px; 
}
/*************************************************************************************/

/*** Section aboout ***/
.about{
    background-color: #FF5E43;
    font-size: 3.4vw;
    padding: 80px;
    font-weight: 400;
    height: auto;
}
/***************************************************************************************/

/*** Section Enfoque ***/

.enfoque{
    display: flex;
}

.enfoque div{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: #77D7DB;
    min-width: 50%;
    padding: 0px 70px;
    font-size: 1.5em;
    font-weight: 650;
}

.titleEnfoque{
    font-size: 1rem;
}

.enfoque img{
    min-width: 50%;
    object-fit: cover;
}
/****************************************************************************************/

/*** Section Tweets ***/
.tweets{
    display: flex;
}

.tweets div{    
    min-width: 50%;
    background-color: #1DA1F2;
}

.imagenTweet{
    min-width: 50%;
    object-fit: cover;
}

.contTextTweet{
    display: flex;
     justify-content: space-between; 
    flex-direction: column;
    padding: 80px;
}

.h2Boronstudio{
    margin-top: 20px;
    font-size: 2.5rem;
}

.twitBoron{
    color: #FFFFFF;
}

.seguinos{
    font-weight: 1.5rem;
    font-weight: 700;
}

.logoTweet{
    margin-top: 50px;
    max-width: 40px;
}

.horas{
    margin-top: 50px;
}

.textTwitt{
    font-size: 1.5rem;
    font-weight: 600;
}

.textWhite{
    color: #FFFFFF;
}

.flecha{   
    width: 40px;    
}

.contFlechas{
    margin-top: 80px;
    display: flex;
    justify-content:space-between;
}
/*********************************************************************************************/

/**********Section repositorio******************/
.repositorio{
    margin-top: 20px;
    padding: 100px;
}

.contRepositorio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.titleRepositorio{
    font-size: 4rem;
}

.textRepo{
    font-weight: 700;
}

.contRepo{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.titleRepo {
    font-size: 2.5rem;
    font-weight: 600;
}

.imgRepo {
    opacity: 0; 
    position: absolute;
    width: 220px;
    top: -25%;
    right: 10%;
    z-index: 10;
    transition: opacity 0.3s ease-in-out; 
}

.contRepo {
    position: relative;
}

.contRepo:hover .imgRepo {
    opacity: 1; 
}
/*************************************************************************************************************/

/*** Section Novedades ***/

.textNovedades{
    text-align: center;
    font-size: 7.5vw;
    margin-bottom: 20px;
}

.contenedorCard{
    display: flex;
    gap: 1px;
}

.card{
    flex: 1;
    background-color: #40B5E0;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    justify-content: space-between;
    position: relative;
    width: 200px;    
    overflow: hidden;
}

.card2{
    background-color: #77D7DB;
}

.card3{
    background-color: #44D19D;
}

.card4{
    background-color: #FEDA3C;
}

.encabezadoCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; 
    position: relative;
}

.titleCard{
    font-size: 1rem;
    font-weight: 800;
}

.descripcionCard{
    font-size: 1.2rem;
    font-weight: 600;
    min-height: 150px;
    overflow: auto;
}

.imagWebinar {   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3; 
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 50%); 
}
  
.imagWebinar img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
  
.card:hover .imagWebinar {
    display: block; 
}

/**************************************************************************/


/*** Container general ***/
.container {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
    padding-left: 15px; 
    padding-right: 15px; 
    box-sizing: border-box; 
    background-color: #FFFFFF;    
}
/*****************************************************************************/

/*** footer ***/

.footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;    
}

.logoFooter{
    width: 200px;
}

.contenedorFooter{
    margin-top: 20px;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: end;
}

.contFooterIzq{
    flex: 2;
}

.contFooterDer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: auto;
}

.contLinkDerecha{    
    display: flex;
    flex-direction: column;
}
.firstLinks, .secondLinks{
    display: flex;
    flex-direction: column;
}

.contFooterDer a{
    padding-top: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.contFooterSuscribite{   
    width: 40%;
    padding: 10px;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 800;
    background-color: #77D7DB;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contRedesFooter{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.textFooterNovedades{
    font-size: 2rem;
    font-weight: 600;
}

.contDerechos{
    margin-top: 20PX;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.8rem;
    color: #5b5e5e; 
}

.conyoutube {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*************************************************************************************************************/

/*** Media Queries ***/


@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .enfoque div {
        font-size: 1rem; 
    }

    .tweets{
        flex-direction: column;
        gap: 0;
    }

    .contenedorCard{
        flex-wrap: wrap;
    }

    .card{
        min-width: 49%;
    }

    .repositorio{
        padding: 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    /*** Header ***/

    .title {
        font-size: 14vw;
    }
    
    .header {
        padding: 0px 10px;
    }
    /***************************************************************/

    /*** Hero ***/
    .hero {
        padding: 20px;
    }

    .hero p {
        font-size: 6.1vw;
    }
    /*****************************************************************/

    /*** About ***/
    .about {
        font-size: 6vw;
        padding: 50px;
    }
    /************************************************************************

    /*** Enfoque ***/
    .enfoque {
        flex-direction: column;
    }

    .enfoque div {
        min-height: 450px;
    }
    /*************************************************************************/

    /*** tweets ***/
    .logoTweet {
        margin-top: 20px;
        max-width: 25px;
    }

    .h2Boronstudio {
        margin-top: 10px;
        font-size: 2.4rem;
    }
    
    .horas {
        margin-top: 15px;
    }

    .textTwitt {
        font-size: 1.2rem;
    }

    .contFlechas {
        margin-top: 50px;
    }

    .flecha {
        width: 30px;
    }
    
    .imagenTweet {
        order: 2;
    }
    
    .contTextTweet {
        order: 1;
        padding: 30px;
    }
    /*********************************************************************************/

    /*** Repositorio ***/
    .contRepositorio {
        flex-direction: column;
    }

    .titleRepositorio {
        font-size: 3rem;
    }
        
    .titleRepo {
        font-size: 1.5rem;
    }
        
    .repositorio {
        padding: 20px 30px;
    }
        
    .imgRepo {
        width: 150px;
        top: -20%;
        right: 20%;
    }
    /***************************************************************************************/    

    /*** Novedades***/
    .card {
        padding: 30px 20px;
        height: 350px;
    }

    .imgMas {
        width: 15px;
    }

    .titleCard {
        font-size: 0.8rem;
    }

    .descripcionCard {
        font-size: 1rem;
        min-height: 130px;
    }
    /*******************************************************************************************/
    
    /*** Footer ***/
    .footer {
        padding: 15% 7%;
    }

    .contenedorFooter {
        flex-direction: column;
        height: auto;
        align-items: start;
    }

    .contFooterDer {
        order: 1;
    }

    .contFooterIzq {
        order: 2;
    }

    .logoFooter {
        width: 150px;
    }

    .contRedesFooter {
        flex-direction: column;
        align-items: unset;
    }

    .contFooterSuscribite {
        width: 100%;
        margin-bottom: 20px;
    }
    .contDerechos{
        flex-direction: column;
    }
    .contDerechos p:first-child {
        order: 2;
        
    }
    .contDerechos p:last-child {
        order: 1;
        font-size: 0.9rem;
        align-self: center;
    }
    .contLinkDerecha{    
       
        flex-direction: row;
    }
    .secondLinks{
        margin-left: 30px;
    }
    /*********************************************************************************************/

    /*** Nav ***/
    .nav {
        width: 100%;
    }
    
    .contLupa {
        flex-direction: column;
        align-items: start;
    }
    
    .contLupa p {
        align-self: self-start;
    }
    /***********************************************************************************/
}